/* styles.css */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .label {
    font-weight: bold;
    color: #555;
  }
  
  .input,
  .select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .input[type="date"] {
    width: calc(100% - 18px); /* Adjust for the date picker arrow */
  }
  
  .select {
    height: 45px;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .info-container {
    margin-top: 20px;
  }
  
  .info-item {
    display: flex;
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .info-value {
    flex-grow: 1;
  }